{% extends 'base.html' %}

{% block title %}Home - {% endblock title %}

{% block content %}

<div class="container">
<div class="row">
  <div class="col-md-12">
      <h1>42 Coffee Cups Test Assignment</h1>
  </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>Andrii</p>
        <p>Ilika</p>
        <p>1980-11-14</p>
        <p>Bio:</p>
        <p>What, where, when.</p>
    </div>
    <div class="col-md-6">
        <p>Contacts</p>
        <p>Email: alphasedout@gmail.com</p>
        <p>Jabber: alphased@khavr.com</p>
        <p>Skype: ai22-uanic</p>
        <p>Other contacts:</p>
        <p></p>
    </div>
</div>
<div class="clearfix"></div>
</div>

{% endblock content %}